* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; 
}

body{
  height: 700px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 400px;
  height: 50px;
  position: absolute;
  top: 50px;
  left: 210px;
  padding: 10px 20px;
  color: aliceblue;
  font-size: 50px;
}

span{
  color:greenyellow;
}

#container {
  background: #0ABAC1;
  width: 700px;
  height: 500px;
  position: relative;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

#form{
  width: 400px;
  position: absolute;
  top: 140px;
  left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
  color: #000;
}


#button{
  width: 30px;
  height: 30px;
  background: chartreuse;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  color: #000;
}

#todo-list {
  position: relative;
  top: 80px;
  width: 500px;
  height: 300px;
  border-radius: 20px;
  background: honeydew;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#todo-list::-webkit-scrollbar {
  display: none;
}



li{
  width: 400px;
  position: relative;
  left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgb(0,0,0,0.1);
  font-size: 20px;
  padding: 5px;
}

li label {
  position: relative;
  top: 0;
  left: 20px;
}


li input{
  height: 30px;
  padding: 0 10px;
  color: #000;
  background:red;
  border-radius: 5px;
}
